<%
meta title: "COVID-INFORMED - Additional Resources - #{@external.id}",
     description: "covid-informed",
     keywords: %w(free html5, free template, free bootstrap, html5, css3, mobile first, responsive)
%>
<% content_for :head do %>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Q8T209GGMN', {'custom_map': {'dimension1': 'rct'}, 'user_id': rct });
  gtag('event','pageview', {'rct': rct});
  gtag('send','event','eventCategory','eventAction');
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MB92CN2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% end %>

<section id="fh5co-feature">
  <div class="container">

    <div class="fh5co-spacer fh5co-spacer-lg"></div>
    <div class="row fh5co-feature-1">

      <div class="col-md-8 col-md-offset-2 fh5co-feature-blurb">
        <ul>
          <li>
            <div class="fh5co-feature-blurb-text">
              <h2 >
                <%= @external.en_title if params[:locale] == 'en'%>
                <%= @external.zh_cn_title if params[:locale] == 'zh_CN'%>
                <%= @external.zh_tw_title if params[:locale] == 'zh_TW'%>
                <%= @external.vi_title if params[:locale] == 'vi'%>
                <%= @external.hmn_title if params[:locale] == 'hmn'%>
              </h2>
              <p class="fh5co-feature-blurb-title"><%= t('resources.external.source') %>:
                <%= @external.en_source if params[:locale] == 'en'%>
                <%= @external.zh_cn_source if params[:locale] == 'zh_CN'%>
                <%= @external.zh_tw_source if params[:locale] == 'zh_TW'%>
                <%= @external.vi_source if params[:locale] == 'vi'%>
                <%= @external.hmn_source if params[:locale] == 'hmn'%>
              </p>
            </div>
          </li>


          <li>
            <div class="fh5co-feature-blurb-text">
              <h2 ><%= t('resources.external.contents_of_resources')%>:</h2>
              <p class="fh5co-feature-blurb-title">
                <%= @external.en_content if params[:locale] == 'en'%>
                <%= @external.zh_cn_content if params[:locale] == 'zh_CN'%>
                <%= @external.zh_tw_content if params[:locale] == 'zh_TW'%>
                <%= @external.vi_content if params[:locale] == 'vi'%>
                <%= @external.hmn_content if params[:locale] == 'hmn'%>
              </p>
            </div>
          </li>


          <li>
            <div class="fh5co-feature-blurb-text">
              <h2 ><%= t('resources.external.notes')%>:</h2>
              <p class="fh5co-feature-blurb-title">
                <%= @external.en_notes if params[:locale] == 'en'%>
                <%= @external.zh_cn_notes if params[:locale] == 'zh_CN'%>
                <%= @external.zh_tw_notes if params[:locale] == 'zh_TW'%>
                <%= @external.vi_notes if params[:locale] == 'vi'%>
                <%= @external.hmn_notes if params[:locale] == 'hmn'%>
              </p>
            </div>
          </li>


          <li>
            <div class="fh5co-feature-blurb-text">
              <h2 ><%= t('resources.external.external_links')%>:</h2>
              <p class="fh5co-feature-blurb-title">
                <%= link_to @external.en_external_link, @external.en_external_link, target: "_blank" if params[:locale] == 'en' %>
                <%= link_to @external.zh_tw_external_link, @external.zh_tw_external_link, target: "_blank" if params[:locale] == 'zh_TW' %>
                <%= link_to @external.zh_cn_external_link, @external.zh_cn_external_link, target: "_blank" if params[:locale] == 'zh_CN' %>
                <%= link_to @external.vi_external_link, @external.vi_external_link, target: "_blank" if params[:locale] == 'vi' %>
                <%= link_to @external.hmn_external_link, @external.hmn_external_link, target: "_blank" if params[:locale] == 'hmn' %>
              </p>
            </div>
          </li>


          <li>
            <div class="fh5co-feature-blurb-text">
              <h2 ><%= t('resources.external.last_updated')%>:</h2>
              <p class="fh5co-feature-blurb-title"><%= @external.last_version_date %></p>
            </div>
          </li>

        </ul>

      <div class="fh5co-spacer fh5co-spacer-sm"></div>
      <div class="col-md-12">
        <% if current_user.try(:admin?) %>
        <div class="actions">
          <%= link_to 'Edit External Resource', edit_external_path(@external), class: "btn btn-primary btn-lg btn-block" %>
        </div>
        <% end %>
      </div>

      <div class="col-md-12">
        <div class="actions">
          <%= link_to t('messages.back'), externals_path, class: "btn btn-primary btn-lg btn-block" %>
        </div>
      </div>
    </div>

    </div>
  </div>
</section>
