<% @featured.in_groups_of(3, false).each do |item1, item2, item3| %>
<div class="row fh5co-pricing-table-1 ">
  <% if item1 %>
    <a href="<%= healthwise_article_path(item1) %>">
      <div class="col-md-4 col-sm-4 col-xs-6 fh5co-pricing-table-item">
        <div class="text-center fh5co-pricing-table-item-heading text-uppercase <%= item1.category %> ">
          <%= item1.send("#{params[:locale]}_title".downcase).present? ? item1.send("#{params[:locale]}_title".downcase) : item1.send("#{article_locale_unavailability}_title".downcase) %>
        </div>
        <div class="text-center fh5co-pricing-table-item-body-healthwise-card <%= item1.category %>-border ">

          <div class="fh5co-spacer fh5co-spacer-xxs"></div>
          <% item1.languages.each do |l| %>
            <a href="<%= healthwise_article_path(item1,locale: CI_LOCALE[l]) %>"> <%= VERBOSE_LOCALES[l] %> </a> <br>
          <% end %>
        </div>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
      </div>
    </a>
  <% end %>
  <% if item2 %>
    <a href="<%= healthwise_article_path(item2) %>">
      <div class="col-md-4 col-sm-4 col-xs-6 fh5co-pricing-table-item">
        <div class="text-center fh5co-pricing-table-item-heading text-uppercase <%= item2.category %> ">
          <%= item2.send("#{params[:locale]}_title".downcase).present? ? item2.send("#{params[:locale]}_title".downcase) : item2.send("#{article_locale_unavailability}_title".downcase) %>
        </div>
        <div class="text-center fh5co-pricing-table-item-body-healthwise-card <%= item2.category %>-border ">

          <div class="fh5co-spacer fh5co-spacer-xxs"></div>
          <% item2.languages.each do |l| %>
            <a href="<%= healthwise_article_path(item2,locale: CI_LOCALE[l]) %>"> <%= VERBOSE_LOCALES[l] %> </a> <br>
          <% end %>
        </div>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
      </div>
    </a>
  <% end %>
  <% if item3 %>
    <a href="<%= healthwise_article_path(item3) %>">
      <div class="col-md-4 col-sm-4 col-xs-6 fh5co-pricing-table-item">
        <div class="text-center fh5co-pricing-table-item-heading text-uppercase <%= item3.category %> ">
          <%= item3.send("#{params[:locale]}_title".downcase).present? ? item3.send("#{params[:locale]}_title".downcase) : item3.send("#{article_locale_unavailability}_title".downcase) %>
        </div>
        <div class="text-center fh5co-pricing-table-item-body-healthwise-card <%= item3.category %>-border" >

          <div class="fh5co-spacer fh5co-spacer-xxs"></div>
          <% item3.languages.each do |l| %>
            <a href="<%= healthwise_article_path(item3,locale: CI_LOCALE[l]) %>"> <%= VERBOSE_LOCALES[l] %> </a> <br>
          <% end %>
        </div>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
      </div>
    </a>
  <% end %>
</div>
<% end %>
