
<section id="fh5co-feature">
  <div class="container">
    <div class="fh5co-spacer fh5co-spacer-lg"></div>
    <div class="row">
			<div class="col-md-12">
        <%= form_with(model: healthwise_article) do |form| %>
          <% if healthwise_article.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(healthwise_article.errors.count, "error") %> prohibited this healthwise_article from being saved:</h2>

              <ul>
                <% healthwise_article.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div id="fh5co-tab-feature" class="fh5co-tab text-center">
            <h1>Editing Healthwise Topic</h1>
            <div class="col-md-6">
              <div class="field form-group">
                <%= form.label :hwid %>
                <%= @healthwise_article.hwid %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="field form-group">
                <%= form.label :article_or_topic? %>
                <%= @healthwise_article.article_or_topic %>
              </div>
            </div>

            <div class="col-md-4">
              <div class="field form-group">
                <%= form.label :category %>
                <%= form.select :category, ["General", "Testing", "Vaccination", "Wellness"], class: 'form-control input-lg' %>
              </div>
            </div>

            <div class="col-md-4">
              <div class="field form-group">
                <%= form.label :featured? %>
                <%= form.check_box :featured %>
              </div>
            </div>

            <div class="col-md-4">
              <div class="field form-group">
                <%= form.label :archive? %>
                <%= form.check_box :archive %>
              </div>
            </div>

            <div class="col-md-4 col-md-offset-4">
              <div class="field form-group">
                <%= form.label :languages %> must be en-us / zh-us / hm-us / vi-us
                <%= form.text_area :languages, name: 'healthwise_article[languages][]', size: '70x5', class: 'form-control input-lg', value: form.object.languages.join("\n") %>
              </div>
            </div>

            <ul class="resp-tabs-list hor_1">
              <li> English (en)</li>
              <li> Chinese Traditional (zh_tw)</li>
              <li> Chinese Simplified (zh_cn)</li>
              <li> Vietnamese (vi)</li>
              <li> Hmong (hmn)</li>
            </ul>
            <div class="resp-tabs-container hor_1">

            <div class="row">
              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :en_title %>
                  <%= form.text_field :en_title %>
                </div>
              </div>

              <div class="col-md-12">
                <div class="field form-group">
                  <%= form.label :en_rich_text %>
                  <%= form.rich_text_area :en_rich_text, placeholder: "en_rich_text"  %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :zh_tw_title %>
                  <%= form.text_field :zh_tw_title %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :zh_tw_translated? %>
                  <%= form.check_box :zh_tw_translated %>
                </div>
              </div>

              <div class="col-md-12">
                <div class="field form-group">
                  <div class="col-md-12 text-center">
                    <% if @healthwise_article.zh_tw_pdf.attached? %>
                      <% @healthwise_article.zh_tw_pdf.each do |pdf| %>
                        <% if pdf.representable? %>
                          <%= image_tag pdf.representation(resize_to_limit: [400, 600]), class: "img-fluid" %>
                        <% else %>
                          <i class="fh5co-align-left img-responsive ti-layout-placeholder" style="color:red;"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="col-md-6 text-center">
                    <%= form.label :zh_tw_pdf %>
                    <%= form.file_field :zh_tw_pdf, multiple: true, direct_upload: true, class: "form-control input-lg"  %>
                  </div>
                  <div class="col-md-6 text-center">
                    <% if @healthwise_article.zh_tw_pdf.attached? %>
                      <%= label_tag(:zh_tw_pdf_purge, "Delete zh_tw_pdf?") %>
                      <%= check_box_tag(:zh_tw_pdf_purge) %>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="field form-group">
                  <%= form.label :zh_tw_rich_text %>
                  <%= form.rich_text_area :zh_tw_rich_text, placeholder: "zh_tw_rich_text"  %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :zh_cn_title %>
                  <%= form.text_field :zh_cn_title %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :zh_cn_translated? %>
                  <%= form.check_box :zh_cn_translated %>
                </div>
              </div>

              <div class="col-md-12">
                <div class="field form-group">
                  <div class="col-md-12 text-center">
                    <% if @healthwise_article.zh_cn_pdf.attached? %>
                      <% @healthwise_article.zh_cn_pdf.each do |pdf| %>
                        <% if pdf.representable? %>
                          <%= image_tag pdf.representation(resize_to_limit: [400, 600]), class: "img-fluid" %>
                        <% else %>
                          <i class="fh5co-align-left img-responsive ti-layout-placeholder" style="color:red;"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="col-md-6 text-center">
                    <%= form.label :zh_cn_pdf %>
                    <%= form.file_field :zh_cn_pdf, multiple: true, direct_upload: true, class: "form-control input-lg"  %>
                  </div>
                  <div class="col-md-6 text-center">
                    <% if @healthwise_article.zh_cn_pdf.attached? %>
                      <%= label_tag(:zh_cn_pdf_purge, "Delete zh_cn_pdf?") %>
                      <%= check_box_tag(:zh_cn_pdf_purge) %>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="field form-group">
                  <%= form.label :zh_cn_rich_text %>
                  <%= form.rich_text_area :zh_cn_rich_text, placeholder: "zh_cn_rich_text"  %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :vi_title %>
                  <%= form.text_field :vi_title %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :vi_translated? %>
                  <%= form.check_box :vi_translated %>
                </div>
              </div>

              <div class="col-md-12">
                <div class="field form-group">
                  <div class="col-md-12 text-center">
                    <% if @healthwise_article.vi_pdf.attached? %>
                      <% @healthwise_article.vi_pdf.each do |pdf| %>
                        <% if pdf.representable? %>
                          <%= image_tag pdf.representation(resize_to_limit: [400, 600]), class: "img-fluid" %>
                        <% else %>
                          <i class="fh5co-align-left img-responsive ti-layout-placeholder" style="color:red;"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="col-md-6 text-center">
                    <%= form.label :vi_pdf %>
                    <%= form.file_field :vi_pdf, multiple: true, direct_upload: true, class: "form-control input-lg"  %>
                  </div>
                  <div class="col-md-6 text-center">
                    <% if @healthwise_article.vi_pdf.attached? %>
                      <%= label_tag(:vi_pdf_purge, "Delete vi_pdf?") %>
                      <%= check_box_tag(:vi_pdf_purge) %>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="field form-group">
                  <%= form.label :vi_rich_text %>
                  <%= form.rich_text_area :vi_rich_text, placeholder: "vi_rich_text"  %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :hmn_title %>
                  <%= form.text_field :hmn_title %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :hmn_translated? %>
                  <%= form.check_box :hmn_translated %>
                </div>
              </div>

              <div class="col-md-12">
                <div class="field form-group">
                  <div class="col-md-12 text-center">
                    <% if @healthwise_article.hmn_pdf.attached? %>
                      <% @healthwise_article.hmn_pdf.each do |pdf| %>
                        <% if pdf.representable? %>
                          <%= image_tag pdf.representation(resize_to_limit: [400, 600]), class: "img-fluid" %>
                        <% else %>
                          <i class="fh5co-align-left img-responsive ti-layout-placeholder" style="color:red;"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="col-md-6 text-center">
                    <%= form.label :hmn_pdf %>
                    <%= form.file_field :hmn_pdf, multiple: true, direct_upload: true, class: "form-control input-lg"  %>
                  </div>
                  <div class="col-md-6 text-center">
                    <% if @healthwise_article.hmn_pdf.attached? %>
                      <%= label_tag(:hmn_pdf_purge, "Delete hmn_pdf?") %>
                      <%= check_box_tag(:hmn_pdf_purge) %>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="field form-group">
                  <%= form.label :hmn_rich_text %>
                  <%= form.rich_text_area :hmn_rich_text, placeholder: "hmn_rich_text"  %>
                </div>
              </div>
            </div>
          </div> <!-- end resp-tabs-container hor_1 -->
          <div class="fh5co-spacer fh5co-spacer-sm"></div>


          <div class="col-md-8 col-md-offset-2">
            <div class="actions">
              <%= form.submit class: "btn btn-primary btn-lg btn-block"%>
              <%= link_to 'Back', healthwise_article_path, class: "btn btn-primary btn-lg btn-block" %>
            </div>
          </div>
        <% end %>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
      </div>
    </div>
  </div>
</section>
