<%
meta title: "INFORMED - Living Well - Healthwise",
     description: "Informed - Living Well",
     keywords: %w(free html5, free template, free bootstrap, html5, css3, mobile first, responsive)
%>
<% content_for :head do %>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-MW2ZN7T85S', {'custom_map': {'dimension1': 'dt'}, 'user_id': dt });
    gtag('event','pageview', {'dt': dt});
    gtag('send','event','eventCategory','eventAction');
  </script>

<% end %>

<section id="fh5co-feature">
  <div class="container">

      <div class="col-md-8 col-md-offset-2">
        <% if current_user.try(:admin?) %>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
        <div class="actions">
          <%= link_to 'New Healthwise Article', new_healthwise_article_path, class: "btn btn-primary btn-lg btn-block" %>
        </div>
        <div class="actions">
          <%= link_to 'Export Healthwise Articles to CSV', healthwise_articles_path(format: "csv"), class: "btn btn-primary btn-lg btn-block"  %>
        </div>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <% end %>
      </div>

      <div class="col-md-12">
        <h2 class="h2"> <%= t('resources.healthwise.healthwise') %> </h2>
      </div>
      <div class="col-md-12">
        <p> <%= raw t('resources.healthwise.disclaimer')%> </p>
      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>

      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-12">
          <label for="faq" class="sr-only">Search for Articles (t)</label>
          <form id="search" method="GET" action="/<%=params[:locale]%>/resources/healthwise-articles" >
            <div class="col-md-8 form-group">
              <input class="form-control input-lg" type="text" id="search" name="search" placeholder="Search for Articles (t)">
            </div>
            <div class="col-md-2 form-group">
              <button class="form-control btn btn-primary" type="submit">
                <i class="ti-search"></i>
              </button>
            </div>
          </form>
          <form id="reset" method="GET" action="/<%=params[:locale]%>/resources/healthwise-articles" >
            <div class="col-md-2 form-group">
              <input class="form-control btn btn-primary" type="submit" value="<%= t('resources.additional.all')%>">
            </div>
          </form>
        </div>
      </div>
<%# 'Build Resilience', 'Get Good Sleep', 'Manage Stress', 'Strengthen Social Connections', %>
<%#      'Become Resourceful', 'Mental Health Conditions', 'Suicide Prevention' %>
      <% if @featured.any? %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.additional.featured')%></h2>
        <%= render 'featured', collection: @featured %>
      <% end %>

      <% if @build_resilience.any? %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.healthwise.build_resilience')%></h2>
        <%= render 'build_resilience', collection: @build_resilience %>
      <% end %>

      <% if @get_good_sleep.any? %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.healthwise.get_good_sleep')%></h2>
        <%= render 'get_good_sleep', collection: @get_good_sleep %>
      <% end %>

      <% if @manage_stress.any? %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.healthwise.manage_stress')%></h2>
        <%= render 'manage_stress', collection: @manage_stress %>
      <% end %>

      <% if @mental_health_conditions.any? %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.healthwise.mental_health_conditions')%></h2>
        <%= render 'mental_health_conditions', collection: @mental_health_conditions %>
      <% end %>

      <% if @strengthen_social_connections.any? %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.healthwise.strengthen_social_connections')%></h2>
        <%= render 'strengthen_social_connections', collection: @strengthen_social_connections %>
      <% end %>

      <% if @suicide_prevention.any?  %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.healthwise.suicide_prevention')%></h2>
        <%= render 'suicide_prevention', collection: @suicide_prevention %>
      <% end %>

      <% if @become_resourceful.any?  %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.healthwise.become_resourceful')%></h2>
        <%= render 'become_resourceful', collection: @become_resourceful %>
      <% end %>

      <% if @other.any?  %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.healthwise.other')%></h2>
        <%= render 'other', collection: @other %>
      <% end %>

    <% if current_user.try(:admin?) || current_user.try(:healthwise?) %>
    <div class="col-md-12 Admin-border">
      <h1 class="text-center">Healthwise Articles Admin List</h1>

    <table class="table table-sm table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">Hwid</th>
          <th scope="col">article_or_topic</th>
          <th scope="col">En title</th>
          <th scope="col">Languages</th>
          <th scope="col">Category</th>
          <th scope="col">Tags</th>
          <th scope="col">Featured</th>
          <th scope="col">Archive</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @admin_healthwise_articles.each do |healthwise_article| %>
          <tr>
            <td><%= healthwise_article.hwid %></td>
            <td><%= healthwise_article.article_or_topic %></td>
            <td><%= healthwise_article.en_title %></td>
            <td><%= healthwise_article.languages %></td>
            <td><%= healthwise_article.category %></td>
            <td><%= healthwise_article.tags %></td>
            <% if healthwise_article.featured == true %>
              <td class="featured-border"><%= healthwise_article.featured %></td>
            <%else%>
              <td><%= healthwise_article.featured %></td>
            <%end%>
            <% if healthwise_article.archive == true %>
              <td class="archive-border"><%= healthwise_article.archive %></td>
            <% else %>
              <td><%= healthwise_article.archive %></td>
            <% end %>
            <td><%= link_to 'Show', healthwise_article %></td>
            <% if current_user.try(:admin?) %>
              <td><%= link_to 'Edit', edit_healthwise_article_path(healthwise_article) %></td>
              <td><%= link_to 'Destroy', healthwise_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>

  </div>
</section>

