<%
meta title: "COVID-INFORMED - Healthwise",
     description: "covid-informed",
     keywords: %w(free html5, free template, free bootstrap, html5, css3, mobile first, responsive)
%>
<% content_for :head do %>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-Q8T209GGMN', {'custom_map': {'dimension1': 'rct'}, 'user_id': rct });
    gtag('event','pageview', {'rct': rct});
    gtag('send','event','eventCategory','eventAction');
  </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MB92CN2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<% end %>

<section id="fh5co-feature">
  <div class="container">

      <div class="col-md-8 col-md-offset-2">
        <% if current_user.try(:admin?) %>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
          <div class="actions">
            <%= link_to 'New Healthwise Article', new_healthwise_article_path, class: "btn btn-primary btn-lg btn-block" %>
          </div>
          <div class="actions">
            <%= link_to 'Export Healthwise Articles to CSV', healthwise_articles_path(format: "csv"), class: "btn btn-primary btn-lg btn-block"  %>
          </div>
          <div class="fh5co-spacer fh5co-spacer-md"></div>
        <% end %>
      </div>

      <div class="col-md-12">
        <h2 class="h2"> <%= t('resources.healthwise.healthwise') %> </h2>
      </div>
      <div class="col-md-12">
        <p> <%= t('resources.healthwise.disclaimer')%> </p>
      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>

      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-12">
          <label for="faq" class="sr-only">Search for Articles (t)</label>
          <form id="search" method="GET" action="/<%=params[:locale]%>/resources/healthwise-articles" >
            <div class="col-md-8 form-group">
              <input class="form-control input-lg" type="text" id="search" name="search" placeholder="Search for Articles (t)">
            </div>
            <div class="col-md-2 form-group">
              <button class="form-control btn btn-primary" type="submit">
                <i class="ti-search"></i>
              </button>
            </div>
          </form>
          <form id="reset" method="GET" action="/<%=params[:locale]%>/resources/healthwise-articles" >
            <div class="col-md-2 form-group">
              <input class="form-control btn btn-primary" type="submit" value="<%= t('resources.external.all')%>">
            </div>
          </form>
        </div>
      </div>

      <% if @featured.any? %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.featured')%></h2>
        <%= render 'featured', collection: @featured %>
      <% end %>

      <% if @general.any? %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.general')%></h2>
        <%= render 'general', collection: @general %>
      <% end %>

      <% if @testing.any? %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.testing')%></h2>
        <%= render 'testing', collection: @testing %>
      <% end %>

      <% if @vaccination.any? %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.vaccination')%></h2>
        <%= render 'vaccination', collection: @vaccination %>
      <% end %>

      <% if @wellness.any?  %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.wellness')%></h2>
        <%= render 'wellness', collection: @wellness %>
      <% end %>

    <% if current_user.try(:admin?) || current_user.try(:healthwise?) %>
    <div class="col-md-12 Admin-border">
      <h1>Healthwise Articles Admin List</h1>

    <table>
      <thead>
        <tr>
          <th>Hwid</th>
          <th>article_or_topic</th>
          <th>En title</th>
          <th>Languages</th>
          <th>Category</th>
          <th>Featured</th>
          <th>Archive</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @admin_healthwise_articles.each do |healthwise_article| %>
          <tr>
            <td><%= healthwise_article.hwid %></td>
            <td><%= healthwise_article.article_or_topic %></td>
            <td><%= healthwise_article.en_title %></td>
            <td><%= healthwise_article.languages %></td>
            <td><%= healthwise_article.category %></td>
            <td><%= healthwise_article.featured %></td>
            <td><%= healthwise_article.archive %></td>
            <td><%= link_to 'Show', healthwise_article %></td>
            <% if current_user.try(:admin?) %>
              <td><%= link_to 'Edit', edit_healthwise_article_path(healthwise_article) %></td>
              <td><%= link_to 'Destroy', healthwise_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <% if current_user.try(:admin?) %>
      <%= link_to 'New Healthwise Article', new_healthwise_article_path %>
    <% end %>
  </div>
  <% end %>

  </div>
</section>

<div class="fh5co-spacer fh5co-spacer-xs"></div>
<div class="container">
  <div class="col-md-12 text-center">
    <p> <%= t('disclaimer') %> </p>
  </div>
</div>
