    <% @featured.in_groups_of(2, false).each do |item1, item2| %>
      <div class="row">
        <a href="<%= message_path(item1) %>">
         <div class="col-md-6 col-sm-6 fh5co-feature-item text-center shadow-lg">

          <div class="fh5co-feature-icon <%=item1.category%>">
            <% if item1.send("#{params[:locale]}_images".downcase).attached? %> 
              <i><%= image_tag item1.send("#{params[:locale]}_images".downcase).first.variant(resize_to_limit: [700, 400]), class: "img-fluid", :style => "max-width: 90%; height: auto"%></i>
            <% else %>
              <i class="ti-layout-placeholder" style="color:red;"></i>
            <% end %>
          </div>
          <h2 class="text-center fh5co-feature-title h4 text-uppercase"><%= item1.en_name %></h2>

              <p class="text-center"><%= link_to t('messages.read_more'), item1, class: "btn btn-primary btn-sm" %></p>
            <% if current_user.try(:admin?) %>
              <p class="text-center"><%= link_to 'Edit this message', edit_message_path(item1), class:"btn btn-primary btn-sm" %></p>
              <p class="text-center"><%= link_to 'Delete this message', item1, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
            <% end %>
            <div class="fh5co-spacer fh5co-spacer-md"></div>
          </div>
        </a>
				<div class="clearfix visible-sm-block"></div>
          <!-- item2 -->
        <% if item2 %>
        <a href="<%= message_path(item2) %>">
          <div class="col-md-6 col-sm-6 fh5co-feature-item text-center">

              <div class="fh5co-feature-icon <%=item2.category%>">
                <% if item2.send("#{params[:locale]}_images".downcase).attached? %>
                  <i><%= image_tag item2.send("#{params[:locale]}_images".downcase).first.variant(resize_to_limit: [700, 400]), class: "img-fluid", :style => "max-width: 90%; height: auto"%></i>
                <% else %>
                  <i class="ti-layout-placeholder" style="color:red;"></i>
                <% end %>
              </div>
              <h2 class="text-center fh5co-feature-title h4 text-uppercase"><%= item2.en_name %></h2>

                <p class="text-center"><%= link_to t('messages.read_more'), item2, class: "btn btn-primary btn-sm" %></p>
              <% if current_user.try(:admin?) %>
                <p class="text-center"><%= link_to 'Edit this message', edit_message_path(item2), class:"btn btn-primary btn-sm" %></p>
                <p class="text-center"><%= link_to 'Delete this message', item2, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
              <% end %>
            </div>
          </a>
          <% end %>
        </div>
      <% end %>