
<section id="fh5co-feature">
  <div class="container">
    <div class="fh5co-spacer fh5co-spacer-lg"></div>
    <div class="row">
			<div class="col-md-12">
      <%= form_with(model: message) do |form| %>
        <% if message.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

            <ul>
              <% message.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div id="fh5co-tab-feature" class="fh5co-tab text-center">
          <ul class="resp-tabs-list hor_1">
            <li> English (en)</li>
            <li> Chinese Traditional (zh_tw)</li>
            <li> Chinese Simplified (zh_cn)</li>
            <li> Hmong (hmn)</li>
            <li> Vietnamese (vi)</li>
          </ul>
          <div class="resp-tabs-container hor_1">
            <div>
              <div class="row">
                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :en_name %>
                    <%= form.text_area :en_name, size:'70x5', class: 'form-control input-lg', placeholder: "en_name" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :en_content %>
                    <%= form.rich_text_area :en_content, placeholder: "en_content"  %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :en_external_rich_links %>
                    <%= form.rich_text_area :en_external_rich_links, placeholder: "en_external_rich_links"  %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :en_action_item %>
                    <%= form.rich_text_area :en_action_item, placeholder: "en_action_item"  %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <% if @message.images.attached? %>
                      <% @message.images.each do |img| %>
                        <%= image_tag img.variant(resize_to_limit: [100, 100]), class: "img-fluid" %>
                      <% end %>
                    <% end %>
                    <br>
                    <%= form.label :en_images %>
                    <%= form.file_field :images, multiple: true, direct_upload: true, class: "form-control input-lg" %>
                  </div>
                </div>

                <% if current_user.email == "justincadburywong@gmail.com" %>
                <div class="col-md-12">
                  <div class="field form-group">
                    <% if @message.en_images.attached? %>
                      <% @message.en_images.each do |img| %>
                        <%= image_tag img.variant(resize_to_limit: [100, 100]), class: "img-fluid" %>
                      <% end %>
                    <% end %>
                    <br>
                    <%= form.label :en_images_for_refactoring %>
                    <%= form.file_field :en_images, multiple: true, direct_upload: true, class: "form-control input-lg" %>
                  </div>
                </div>
                <% end %>

                <div class="col-md-12">
                  <div class="field form-group">
                    <% if @message.en_audio.attached? %>
                      <div class="col-md-12 text-center">
                        <%= audio_tag url_for(@message.en_audio), controls: true %>
                      </div>
                    <% end %>
                    <br>
                    <div class="col-md-6 text-center">
                      <%= form.label :en_audio %> <b> | All audio must be in .wav or .mp3 format. </b>
                      <%= form.file_field :en_audio, direct_upload: true, class: "form-control input-lg" %>
                    </div>
                    <div class="col-md-6 text-center">
                      <% if @message.en_audio.attached? %>
                        <%= label_tag(:en_audio_purge, "Delete en_audio?") %>
                        <%= check_box_tag(:en_audio_purge) %>
                      <% end %>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div>
              <div class="row">
                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :zh_tw_name %>
                    <%= form.text_area :zh_tw_name, size: '70x5', class: 'form-control input-lg', placeholder: "zh_tw_name" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :zh_tw_content %>
                    <%= form.rich_text_area :zh_tw_content, placeholder: "zh_tw_content" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :zh_tw_external_rich_links %>
                    <%= form.rich_text_area :zh_tw_external_rich_links, placeholder: "zh_tw_external_rich_links" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :zh_tw_action_item %>
                    <%= form.rich_text_area :zh_tw_action_item, placeholder: "zh_tw_action_item" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <% if @message.zh_tw_images.attached? %>
                      <% @message.zh_tw_images.each do |img| %>
                        <%= image_tag img.variant(resize_to_limit: [100, 100]), class: "img-fluid" %>
                      <% end %>
                    <% end %>
                    <br>
                    <%= form.label :zh_tw_images %>
                    <%= form.file_field :zh_tw_images, multiple: true, direct_upload: true, class: "form-control input-lg" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <% if @message.zh_tw_audio.attached? %>
                      <div class="col-md-12 text-center">
                        <%= audio_tag url_for(@message.zh_tw_audio), controls: true %>
                      </div>
                    <% end %>
                    <br>
                    <div class="col-md-6 text-center">
                      <%= form.label :zh_tw_audio %> <b>| Cantonese audio only.  All audio must be in .wav or .mp3 format.</b>
                      <%= form.file_field :zh_tw_audio, direct_upload: true, class: "form-control input-lg" %>
                    </div>
                    <div class="col-md-6 text-center">
                      <% if @message.zh_tw_audio.attached? %>
                        <%= label_tag(:zh_tw_audio_purge, "Delete zh_tw_audio?") %>
                        <%= check_box_tag(:zh_tw_audio_purge) %>
                      <% end %>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div>
              <div class="row">
                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :zh_cn_name %>
                    <%= form.text_area :zh_cn_name, size: '70x5', class: 'form-control input-lg', placeholder: "zh_cn_name" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :zh_cn_content %>
                    <%= form.rich_text_area :zh_cn_content, placeholder: "zh_cn_content" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :zh_cn_external_rich_links %>
                    <%= form.rich_text_area :zh_cn_external_rich_links, placeholder: "zh_cn_external_rich_links" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :zh_cn_action_item %>
                    <%= form.rich_text_area :zh_cn_action_item, placeholder: "zh_cn_action_item" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <% if @message.zh_cn_images.attached? %>
                      <% @message.zh_cn_images.each do |img| %>
                        <%= image_tag img.variant(resize_to_limit: [100, 100]), class: "img-fluid" %>
                      <% end %>
                    <% end %>
                    <br>
                    <%= form.label :zh_cn_images %>
                    <%= form.file_field :zh_cn_images, multiple: true, direct_upload: true, class: "form-control input-lg" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <% if @message.zh_cn_audio.attached? %>
                      <div class="col-md-12 text-center">
                        <%= audio_tag url_for(@message.zh_cn_audio), controls: true %>
                      </div>
                    <% end %>
                    <br>
                    <div class="col-md-6 text-center">
                      <%= form.label :zh_cn_audio %> <b> | Mandarin audio only.  All audio must be in .wav or .mp3 format. </b>
                      <%= form.file_field :zh_cn_audio, direct_upload: true, class: "form-control input-lg" %>
                    </div>
                    <div class="col-md-6 text-center">
                      <% if @message.zh_cn_audio.attached? %>
                        <%= label_tag(:zh_cn_audio_purge, "Delete zh_cn_audio?") %>
                        <%= check_box_tag(:zh_cn_audio_purge) %>
                      <% end %>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div>
              <div class="row">
                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :hmn_name %>
                    <%= form.text_area :hmn_name, size: '70x5', class: 'form-control input-lg', placeholder: "hmn_name" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :hmn_content %>
                    <%= form.rich_text_area :hmn_content, placeholder: "hmn_content" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :hmn_external_rich_links %>
                    <%= form.rich_text_area :hmn_external_rich_links, placeholder: "hmn_external_rich_links" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :hmn_action_item %>
                    <%= form.rich_text_area :hmn_action_item, placeholder: "hmn_action_item" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <% if @message.hmn_images.attached? %>
                      <% @message.hmn_images.each do |img| %>
                        <%= image_tag img.variant(resize_to_limit: [100, 100]), class: "img-fluid" %>
                      <% end %>
                    <% end %>
                    <br>
                    <%= form.label :hmn_images %>
                    <%= form.file_field :hmn_images, multiple: true, direct_upload: true, class: "form-control input-lg" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <% if @message.hmn_audio.attached? %>
                      <div class="col-md-12 text-center">
                        <%= audio_tag url_for(@message.hmn_audio), controls: true %>
                      </div>
                    <% end %>
                    <br>
                    <div class="col-md-6 text-center">
                      <%= form.label :hmn_audio %> <b> | All audio must be in .wav or .mp3 format. </b>
                      <%= form.file_field :hmn_audio, direct_upload: true, class: "form-control input-lg" %>
                    </div>
                    <div class="col-md-6 text-center">
                      <% if @message.hmn_audio.attached? %>
                        <%= label_tag(:hmn_audio_purge, "Delete hmn_audio?") %>
                        <%= check_box_tag(:hmn_audio_purge) %>
                      <% end %>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div>
              <div class="row">
                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :vi_name %>
                    <%= form.text_area :vi_name, size: '70x5', class: 'form-control input-lg', placeholder: "vi_name" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :vi_content %>
                    <%= form.rich_text_area :vi_content, placeholder: "vi_content" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :vi_external_rich_links %>
                    <%= form.rich_text_area :vi_external_rich_links, placeholder: "vi_external_rich_links" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= form.label :vi_action_item %>
                    <%= form.rich_text_area :vi_action_item, placeholder: "vi_action_item" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <% if @message.vi_images.attached? %>
                      <% @message.vi_images.each do |img| %>
                      <%= image_tag img.variant(resize_to_limit: [100, 100]), class: "img-fluid" %>
                      <% end %>
                    <% end %>
                    <br>
                    <%= form.label :vi_image %>
                    <%= form.file_field :vi_images, multiple: true, direct_upload: true, class: "form-control input-lg" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <% if @message.vi_audio.attached? %>
                      <div class="col-md-12 text-center">
                        <%= audio_tag url_for(@message.vi_audio), controls: true %>
                      </div>
                    <% end %>
                    <br>
                    <div class="col-md-6 text-center">
                      <%= form.label :vi_audio %> <b> | All audio must be in .wav or .mp3 format. </b>
                      <%= form.file_field :vi_audio, direct_upload: true, class: "form-control input-lg" %>
                    </div>
                    <div class="col-md-6 text-center">
                      <% if @message.vi_audio.attached? %>
                        <%= label_tag(:vi_audio_purge, "Delete vi_audio?") %>
                        <%= check_box_tag(:vi_audio_purge) %>
                      <% end %>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
          <div class="field form-group">
            <%= form.label :survey_link %>
            <%= form.text_field :survey_link, size: '70x5', class: 'form-control input-lg', placeholder: "survey_link" %>
          </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
          <div class="field form-group">
            <%= form.label :category %>
            <%= form.select :category, ["General", "Testing", "Vaccination", "Other"], class: 'form-control input-lg' %>
          </div>
          <div class="field form-group">
            <%= form.label :archive? %>
            <%= form.check_box :archive %>
          </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
          <div class="actions">
            <%= form.submit class: "btn btn-primary btn-lg btn-block"%>
            <%= link_to 'Back', messages_path, class: "btn btn-primary btn-lg btn-block" %>
          </div>
        </div>

        <% end %>

				<div class="fh5co-spacer fh5co-spacer-sm"></div>
			</div>

		</div>

	</div>
</section>
