<%
meta title: "COVID-INFORMED - Downloads",
     description: "covid-informed",
     keywords: %w(free html5, free template, free bootstrap, html5, css3, mobile first, responsive)
%>
<% content_for :head do %>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-Q8T209GGMN', {'custom_map': {'dimension1': 'rct'}, 'user_id': rct });
    gtag('event','pageview', {'rct': rct});
    gtag('send','event','eventCategory','eventAction');
  </script>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MB92CN2"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
<% end %>

<section id="fh5co-feature">
  <div class="container">

    <div class="col-md-8 col-md-offset-2">
      <div class="fh5co-spacer fh5co-spacer-xxs"></div>
      <% if current_user.try(:admin?) %>
        <div class="actions">
          <%= link_to 'New Download', new_download_path, class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-12">
      <h2 class="h2"> <%= t('resources.layhealthworkers.downloads') %> </h2>
    </div>
    <div class="col-md-12">
      <p> <%= t('resources.layhealthworkers.downloads1')%> </p>
    </div>
    <div class="fh5co-spacer fh5co-spacer-md"></div>

      <div class="col-md-12">
        <label for="faq" class="sr-only"><%= t('resources.external.search')%></label>
        <form id="search" method="GET" action="/<%=params[:locale]%>/resources/downloads" >
          <div class="col-md-8 form-group">
            <input class="form-control input-lg" type="text" id="search" name="search" placeholder="Search for Downloads">
          </div>
          <div class="col-md-2 form-group">
            <button class="form-control btn btn-primary" type="submit">
              <i class="ti-search"></i>
            </button>
          </div>
        </form>
        <form id="reset" method="GET" action="/<%=params[:locale]%>/resources/downloads" >
          <div class="col-md-2 form-group">
            <input class="form-control btn btn-primary" type="submit" value="<%= t('resources.external.all')%>">
          </div>
        </form>
      </div>

      <div class="fh5co-spacer fh5co-spacer-md"></div>

    <% @downloads.in_groups_of(3, false).each do |item1, item2, item3| %>
      <div class="row">
        <% if item1 %>

          <% if item1.send("#{params[:locale]}_file".downcase).attached? %>
            <%= link_to rails_blob_path(item1.send("#{params[:locale]}_file".downcase), disposition: "attachment") do %>
              <div class="col-md-4 col-sm-6 fh5co-feature-item">
                <div class="<%=item1.category%> text-center">
                  <span class="fh5co-feature-icon">
                    <% if item1.send("#{params[:locale]}_file".downcase).attached? %>
                      <% if item1.send("#{params[:locale]}_file".downcase).representable? %>
                        <i><%= image_tag item1.send("#{params[:locale]}_file".downcase).representation(resize_to_limit: [400, 600]), class: "img-fluid", :style => "max-width: 90%; height: auto"%></i>
                      <% end %>
                    <% else %>
                      <i class="ti-layout-placeholder" style="color:red;"></i>
                    <% end %>
                  </span>
                  <h2 class="text-center fh5co-feature-title h4 text-uppercase"><%= item1.send("#{params[:locale]}_title".downcase) %></h2>
                </div>
                <div class="fh5co-spacer fh5co-spacer-sm"></div>
              </div>
            <% end %> <!-- end link_to -->
          <% end %>

        <% end %> <!-- end if item1 -->

        <% if item2 %>
          <% if item2.send("#{params[:locale]}_file".downcase).attached? %>
            <%= link_to rails_blob_path(item2.send("#{params[:locale]}_file".downcase), disposition: "attachment") do %>
              <div class="col-md-4 col-sm-6 fh5co-feature-item">
                <div class="<%=item2.category%> text-center">
                  <span class="fh5co-feature-icon">
                    <% if item2.send("#{params[:locale]}_file".downcase).attached? %>
                      <% if item2.send("#{params[:locale]}_file".downcase).representable? %>
                        <i><%= image_tag item2.send("#{params[:locale]}_file".downcase).representation(resize_to_limit: [400, 600]), class: "img-fluid", :style => "max-width: 90%; height: auto"%></i>
                      <% end %>
                    <% else %>
                      <i class="ti-layout-placeholder" style="color:red;"></i>
                    <% end %>
                  </span>
                  <h2 class="text-center fh5co-feature-title h4 text-uppercase"><%= item2.send("#{params[:locale]}_title".downcase) %></h2>
                </div>
                <div class="fh5co-spacer fh5co-spacer-sm"></div>
              </div>
            <% end %> <!-- end link_to -->
          <% end %>
        <% end %> <!-- end if item2 -->

        <% if item3 %>
          <% if item3.send("#{params[:locale]}_file".downcase).attached? %>
            <%= link_to rails_blob_path(item3.send("#{params[:locale]}_file".downcase), disposition: "attachment") do %>
              <div class="col-md-4 col-sm-6 fh5co-feature-item">
                <div class="<%=item3.category%> text-center">
                  <span class="fh5co-feature-icon">
                    <% if item3.send("#{params[:locale]}_file".downcase).attached? %>
                      <% if item3.send("#{params[:locale]}_file".downcase).representable? %>
                        <i><%= image_tag item3.send("#{params[:locale]}_file".downcase).representation(resize_to_limit: [400, 600]), class: "img-fluid", :style => "max-width: 90%; height: auto"%></i>
                      <% end %>
                    <% else %>
                      <i class="ti-layout-placeholder" style="color:red;"></i>
                    <% end %>
                  </span>
                  <h2 class="text-center fh5co-feature-title h4 text-uppercase"><%= item3.send("#{params[:locale]}_title".downcase) %></h2>
                </div>
                <div class="fh5co-spacer fh5co-spacer-sm"></div>
              </div>
            <% end %> <!-- end link_to -->
          <% end %>
        <% end %> <!-- end if item3 -->

      </div>
    <% end %>

    <% if current_user.try(:admin?) %>
    <div class="col-md-12 Admin-border">
      <h1>Admin Downloads</h1>

      <table>
        <thead>
          <tr>
            <th>En title</th>
            <th>En file</th>
            <th>Zh tw file</th>
            <th>Zh cn file</th>
            <th>Vi file</th>
            <th>Hmn file</th>
            <th>Archive</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @admin_downloads.each do |download| %>
            <tr>
              <td><%= download.en_title %></td>
              <td><%= image_tag download.en_file.representation(resize_to_limit: [100, 200]), class: "img-fluid" if download.en_file.attached? %></td>
              <td><%= image_tag download.zh_tw_file.representation(resize_to_limit: [100, 200]), class: "img-fluid" if download.zh_tw_file.attached? %></td>
              <td><%= image_tag download.zh_cn_file.representation(resize_to_limit: [100, 200]), class: "img-fluid" if download.zh_cn_file.attached? %></td>
              <td><%= image_tag download.vi_file.representation(resize_to_limit: [100, 200]), class: "img-fluid" if download.vi_file.attached? %></td>
              <td><%= image_tag download.hmn_file.representation(resize_to_limit: [100, 200]), class: "img-fluid" if download.hmn_file.attached? %></td>
              <td><%= download.archive %></td>
              <td><%= link_to 'Show', download %></td>
              <td><%= link_to 'Edit', edit_download_path(download) %></td>
              <td><%= link_to 'Destroy', download, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Download', new_download_path %>
      <% end %>
    </div>
</section>
<div class="fh5co-spacer fh5co-spacer-xs"></div>
<div class="container">
  <div class="col-md-12 text-center">
    <p> <%= t('disclaimer') %> </p>
  </div>
</div>
