<%
meta title: "INFORMED - Living Well - Downloads",
     description: "Informed - Living Well",
     keywords: %w(free html5, free template, free bootstrap, html5, css3, mobile first, responsive)
%>
<% content_for :head do %>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-MW2ZN7T85S', {'TID': tid });
    gtag('send','event','eventCategory','eventAction');
  </script>
<% end %>

<section id="fh5co-feature">
  <div class="container">

    <div class="col-md-8 col-md-offset-2">
      <div class="fh5co-spacer fh5co-spacer-xxs"></div>
      <% if current_user.try(:admin?) %>
        <div class="actions">
          <%= link_to 'New Download', new_download_path, class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-12">
      <h2 class="h2"> <%= t('resources.layhealthworkers.downloads') %> </h2>
    </div>
    <div class="col-md-12">
      <p> <%= t('resources.layhealthworkers.downloads1')%> </p>
    </div>
    <div class="fh5co-spacer fh5co-spacer-md"></div>

      <div class="col-md-12">
        <label for="faq" class="sr-only"><%= t('resources.additional.search')%></label>
        <form id="search" method="GET" action="/<%=params[:locale]%>/resources/downloads" >
          <div class="col-md-8 form-group">
            <input class="form-control input-lg" type="text" id="search" name="search" placeholder="Search for Downloads">
          </div>
          <div class="col-md-2 form-group">
            <button id="search-submit" class="form-control btn btn-primary" type="submit">
              <i class="ti-search"></i>
            </button>
          </div>
        </form>
        <form id="reset" method="GET" action="/<%=params[:locale]%>/resources/downloads" >
          <div class="col-md-2 form-group">
            <input class="form-control btn btn-primary" type="submit" value="<%= t('resources.additional.all')%>">
          </div>
        </form>
      </div>

      <div class="fh5co-spacer fh5co-spacer-md"></div>

    <% @downloads.in_groups_of(3, false).each do |item1, item2, item3| %>
      <div class="row">
        <% if item1 %>

          <% if item1.send("#{params[:locale]}_file".downcase).attached? %>
            <%= link_to pdfjs.full_path(file: rails_blob_path(item1.send("#{params[:locale]}_file".downcase))), target: :_blank do %>
              <div class="col-md-4 col-sm-6 fh5co-feature-item">
                <div id="<%=item1.en_file%>" class="<%=item1.category%> text-center">
                  <span class="fh5co-feature-icon">
                    <% if item1.send("#{params[:locale]}_file".downcase).attached? %>
                      <% if item1.send("#{params[:locale]}_file".downcase).representable? %>
                        <i><%= image_tag item1.send("#{params[:locale]}_file".downcase).representation(resize_to_limit: [400, 600]), class: "img-fluid", :style => "max-width: 90%; height: auto"%></i>
                      <% end %>
                    <% else %>
                      <i class="ti-layout-placeholder" style="color:red;"></i>
                    <% end %>
                  </span>
                  <h2 class="text-center fh5co-feature-title h4 text-uppercase"><%= item1.send("#{params[:locale]}_title".downcase) %></h2>
                </div>
                <div class="fh5co-spacer fh5co-spacer-sm"></div>
              </div>
            <% end %> <!-- end link_to -->
          <% end %>

        <% end %> <!-- end if item1 -->

        <% if item2 %>
          <% if item2.send("#{params[:locale]}_file".downcase).attached? %>
            <%= link_to pdfjs.full_path(file: rails_blob_path(item2.send("#{params[:locale]}_file".downcase))), target: :_blank do %>
              <div class="col-md-4 col-sm-6 fh5co-feature-item">
                <div id="<%=item2.en_file%>" class="<%=item2.category%> text-center">
                  <span class="fh5co-feature-icon">
                    <% if item2.send("#{params[:locale]}_file".downcase).attached? %>
                      <% if item2.send("#{params[:locale]}_file".downcase).representable? %>
                        <i><%= image_tag item2.send("#{params[:locale]}_file".downcase).representation(resize_to_limit: [400, 600]), class: "img-fluid", :style => "max-width: 90%; height: auto"%></i>
                      <% end %>
                    <% else %>
                      <i class="ti-layout-placeholder" style="color:red;"></i>
                    <% end %>
                  </span>
                  <h2 class="text-center fh5co-feature-title h4 text-uppercase"><%= item2.send("#{params[:locale]}_title".downcase) %></h2>
                </div>
                <div class="fh5co-spacer fh5co-spacer-sm"></div>
              </div>
            <% end %> <!-- end link_to -->
          <% end %>
        <% end %> <!-- end if item2 -->

        <% if item3 %>
          <% if item3.send("#{params[:locale]}_file".downcase).attached? %>
            <%= link_to pdfjs.full_path(file: rails_blob_path(item3.send("#{params[:locale]}_file".downcase))), target: :_blank do %>
              <div class="col-md-4 col-sm-6 fh5co-feature-item">
                <div id="<%=item3.en_file%>" class="<%=item3.category%> text-center">
                  <span class="fh5co-feature-icon">
                    <% if item3.send("#{params[:locale]}_file".downcase).attached? %>
                      <% if item3.send("#{params[:locale]}_file".downcase).representable? %>
                        <i><%= image_tag item3.send("#{params[:locale]}_file".downcase).representation(resize_to_limit: [400, 600]), class: "img-fluid", :style => "max-width: 90%; height: auto"%></i>
                      <% end %>
                    <% else %>
                      <i class="ti-layout-placeholder" style="color:red;"></i>
                    <% end %>
                  </span>
                  <h2 class="text-center fh5co-feature-title h4 text-uppercase"><%= item3.send("#{params[:locale]}_title".downcase) %></h2>
                </div>
                <div class="fh5co-spacer fh5co-spacer-sm"></div>
              </div>
            <% end %> <!-- end link_to -->
          <% end %>
        <% end %> <!-- end if item3 -->

      </div>
    <% end %>
  </div>
  
  <% if current_user.try(:admin?) %>
  <div class="col-md-12 Admin-border">
    <h1 class="text-center">Admin Downloads</h1>

    <table class="table table-sm table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">En title</th>
          <th scope="col">En file</th>
          <th scope="col">Category</th>
          <th scope="col">Tags</th>
          <th scope="col">Archive</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @admin_downloads.each do |download| %>
          <tr>
            <td><%= download.en_title %></td>
            <td><%= image_tag download.en_file.representation(resize_to_limit: [100, 200]), class: "img-fluid" if download.en_file.attached? %></td>
            <td><%= download.category %></td>
            <td><%= download.tags %></td>
            <% if download.archive == true %>
              <td class="archive-border"><%= download.archive %></td>
            <% else %>
              <td><%= download.archive %></td>
            <% end %>
            <td><%= link_to 'Show', download %></td>
            <td><%= link_to 'Edit', edit_download_path(download) %></td>
            <td><%= link_to 'Destroy', download, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <% end %>
    
</section>

<script>
  document.addEventListener("click", function(event){
    // event.preventDefault();
    // console.log(event);
    if (event.target.id === 'search-submit') {
      gtag ('event', 'form_submit', {
          'form_name': event.target.id,
          'form_destination': event.target.baseURI,
          'TID': tid
      })
    },
    else (event.target.id === 'reset-submit') {
        gtag ('event', 'form_submit', {
          'form_name': event.target.id,
          'form_destination': event.target.baseURI,
          'TID': tid
      })
    }
  //   else  (event.target.tagName === 'IMG') {
  //     gtag ('event', 'file_download', {
  //         'file_name': event.target.innerText,
  //         'link_id': event.target.id,
  //         'link_text': event.target.innerText,
  //         'link_url': event.target.baseURI,
  //         'file_extension': ,
  //         'TID': tid
  //     })
  //   }
  });
  document.addEventListener("submit", function(event){
    if (event.target.id === 'search-submit') {
      gtag ('event', 'form_submit', {
          'form_name': event.target.id,
          'form_destination': event.target.baseURI,
          'TID': tid
      })
    }
  });
</script>