<p id="notice"><%= notice %></p>

<p>
  <strong>En file:</strong>
  <%= @download.en_file %>
</p>

<p>
  <strong>Zh tw file:</strong>
  <%= @download.zh_tw_file %>
</p>

<p>
  <strong>Zh cn file:</strong>
  <%= @download.zh_cn_file %>
</p>

<p>
  <strong>Vi file:</strong>
  <%= @download.vi_file %>
</p>

<p>
  <strong>Hmn file:</strong>
  <%= @download.hmn_file %>
</p>

<p>
  <strong>Archive:</strong>
  <%= @download.archive %>
</p>

<%= link_to 'Edit', edit_download_path(@download) %> |
<%= link_to 'Back', downloads_path %>
