<% @other.in_groups_of(3, false).each do |item1, item2, item3| %>
<div class="row fh5co-pricing-table-1 ">
  <% if item1 %>
    <% if params[:locale] == 'zh_TW' && item1.zh_tw_link_url.present? %>
      <a href="<%= item1.zh_tw_link_url %>" target="_blank" >
    <% elsif params[:locale] == 'zh_CN' && item1.zh_cn_link_url.present? %>
      <a href="<%= item1.zh_cn_link_url %>" target="_blank" >
    <% elsif params[:locale] == 'vi' && item1.vi_link_url.present? %>
      <a href="<%= item1.vi_link_url %>" target="_blank" >
    <% elsif params[:locale] == 'hmn' && item1.hmn_link_url.present?%>
      <a href="<%= item1.hmn_link_url %>" target="_blank" >
    <% else %>
      <a href="<%= item1.en_link_url %>" target="_blank" >
    <% end %>
    <div class="col-md-4 col-sm-6 fh5co-pricing-table-item">
      <div class="text-center fh5co-pricing-table-item-heading text-uppercase <%= item1.category %>">
        <%= item1.en_title if params[:locale] == 'en' %>
        <%= item1.zh_cn_title if params[:locale] == 'zh_CN' %>
        <%= item1.zh_tw_title if params[:locale] == 'zh_TW' %>
        <%= item1.vi_title if params[:locale] == 'vi' %>
        <%= item1.hmn_title if params[:locale] == 'hmn' %>
      </div>
      <div class="text-center fh5co-pricing-table-item-body <%= item1.category %>-border">
        <div><%= item1.en_description if params[:locale] == 'en' %></div>
        <div><%= item1.zh_cn_description if params[:locale] == 'zh_CN' %></div>
        <div><%= item1.zh_tw_description if params[:locale] == 'zh_TW' %></div>
        <div><%= item1.vi_description if params[:locale] == 'vi' %></div>
        <div><%= item1.hmn_description if params[:locale] == 'hmn' %></div>

        <% if current_user.try(:admin?) %>
          <div class="fh5co-spacer fh5co-spacer-xxs"></div>
          <p class="text-center"><%= link_to 'Edit resource', edit_statistic_path(item1), class:"btn btn-primary btn-sm" %></p>
          <p class="text-center"><%= link_to 'Delete resource', item1, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
        <% end %>
      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>
    </div>
  </a>
  <% end %>
  <% if item2 %>
    <% if params[:locale] == 'zh_TW' && item2.zh_tw_link_url.present? %>
      <a href="<%= item2.zh_tw_link_url %>" target="_blank" >
    <% elsif params[:locale] == 'zh_CN' && item2.zh_cn_link_url.present? %>
      <a href="<%= item2.zh_cn_link_url %>" target="_blank" >
    <% elsif params[:locale] == 'vi' && item2.vi_link_url.present? %>
      <a href="<%= item2.vi_link_url %>" target="_blank" >
    <% elsif params[:locale] == 'hmn' && item2.hmn_link_url.present?%>
      <a href="<%= item2.hmn_link_url %>" target="_blank" >
    <% else %>
      <a href="<%= item2.en_link_url %>" target="_blank" >
    <% end %>
    <div class="col-md-4 col-sm-6 fh5co-pricing-table-item">
      <div class="text-center fh5co-pricing-table-item-heading text-uppercase <%= item2.category %>">
        <%= item2.en_title if params[:locale] == 'en' %>
        <%= item2.zh_cn_title if params[:locale] == 'zh_CN' %>
        <%= item2.zh_tw_title if params[:locale] == 'zh_TW' %>
        <%= item2.vi_title if params[:locale] == 'vi' %>
        <%= item2.hmn_title if params[:locale] == 'hmn' %>
      </div>
      <div class="text-center fh5co-pricing-table-item-body <%= item2.category %>-border">
        <div><%= item2.en_description if params[:locale] == 'en' %></div>
        <div><%= item2.zh_cn_description if params[:locale] == 'zh_CN' %></div>
        <div><%= item2.zh_tw_description if params[:locale] == 'zh_TW' %></div>
        <div><%= item2.vi_description if params[:locale] == 'vi' %></div>
        <div><%= item2.hmn_description if params[:locale] == 'hmn' %></div>

        <% if current_user.try(:admin?) %>
          <div class="fh5co-spacer  fh5co-spacer-xxs"></div>
          <p class="text-center"><%= link_to 'Edit resource', edit_statistic_path(item2), class:"btn btn-primary btn-sm" %></p>
          <p class="text-center"><%= link_to 'Delete resource', item2, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
        <% end %>
      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>
    </div>
  </a>
  <% end %>
  <% if item3 %>
  <% if params[:locale] == 'zh_TW' && item3.zh_tw_link_url.present? %>
    <a href="<%= item3.zh_tw_link_url %>" target="_blank" >
  <% elsif params[:locale] == 'zh_CN' && item3.zh_cn_link_url.present? %>
    <a href="<%= item3.zh_cn_link_url %>" target="_blank" >
  <% elsif params[:locale] == 'vi' && item3.vi_link_url.present? %>
    <a href="<%= item3.vi_link_url %>" target="_blank" >
  <% elsif params[:locale] == 'hmn' && item3.hmn_link_url.present?%>
    <a href="<%= item3.hmn_link_url %>" target="_blank" >
  <% else %>
    <a href="<%= item3.en_link_url %>" target="_blank" >
  <% end %>
    <div class="col-md-4 col-sm-6 fh5co-pricing-table-item">
      <div class="text-center fh5co-pricing-table-item-heading text-uppercase <%= item3.category %>">
        <%= item3.en_title if params[:locale] == 'en' %>
        <%= item3.zh_cn_title if params[:locale] == 'zh_CN' %>
        <%= item3.zh_tw_title if params[:locale] == 'zh_TW' %>
        <%= item3.vi_title if params[:locale] == 'vi' %>
        <%= item3.hmn_title if params[:locale] == 'hmn' %>
      </div>
      <div class="text-center fh5co-pricing-table-item-body <%= item3.category %>-border">
        <div><%= item3.en_description if params[:locale] == 'en' %></div>
        <div><%= item3.zh_cn_description if params[:locale] == 'zh_CN' %></div>
        <div><%= item3.zh_tw_description if params[:locale] == 'zh_TW' %></div>
        <div><%= item3.vi_description if params[:locale] == 'vi' %></div>
        <div><%= item3.hmn_description if params[:locale] == 'hmn' %></div>

        <% if current_user.try(:admin?) %>
          <div class="fh5co-spacer  fh5co-spacer-xxs"></div>
          <p class="text-center"><%= link_to 'Edit resource', edit_statistic_path(item3), class:"btn btn-primary btn-sm" %></p>
          <p class="text-center"><%= link_to 'Delete resource', item3, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
        <% end %>
      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>
    </div>
  </a>
  <% end %>
</div>
<% end %>
