<p id="notice"><%= notice %></p>

<p>
  <strong>En title:</strong>
  <%= @statistic.en_title %>
</p>

<p>
  <strong>En description:</strong>
  <%= @statistic.en_description %>
</p>

<p>
  <strong>En link name:</strong>
  <%= @statistic.en_link_name %>
</p>

<p>
  <strong>Zh tw title:</strong>
  <%= @statistic.zh_tw_title %>
</p>

<p>
  <strong>Zh tw description:</strong>
  <%= @statistic.zh_tw_description %>
</p>

<p>
  <strong>Zh tw link name:</strong>
  <%= @statistic.zh_tw_link_name %>
</p>

<p>
  <strong>Zh cn title:</strong>
  <%= @statistic.zh_cn_title %>
</p>

<p>
  <strong>Zh cn description:</strong>
  <%= @statistic.zh_cn_description %>
</p>

<p>
  <strong>Zh cn link name:</strong>
  <%= @statistic.zh_cn_link_name %>
</p>

<p>
  <strong>Vi title:</strong>
  <%= @statistic.vi_title %>
</p>

<p>
  <strong>Vi description:</strong>
  <%= @statistic.vi_description %>
</p>

<p>
  <strong>Vi link name:</strong>
  <%= @statistic.vi_link_name %>
</p>

<p>
  <strong>Hmn title:</strong>
  <%= @statistic.hmn_title %>
</p>

<p>
  <strong>Hmn description:</strong>
  <%= @statistic.hmn_description %>
</p>

<p>
  <strong>Hmn link name:</strong>
  <%= @statistic.hmn_link_name %>
</p>

<p>
  <strong>Link url:</strong>
  <%= @statistic.link_url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @statistic.category %>
</p>

<%= link_to 'Edit', edit_statistic_path(@statistic) %> |
<%= link_to 'Back', statistics_path %>
