<%= form_with model: [ @message, @message.like.build ] do |form| %>
  <% if like.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(like.errors.count, "error") %> prohibited this like from being saved:</h2>

      <ul>
        <% like.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :up %>
    <%= form.text_field :up %>
  </div>

  <div class="field">
    <%= form.label :down %>
    <%= form.text_field :down %>
  </div>

  <div class="field">
    <%= form.label :tid %>
    <%= form.text_field :tid %>
  </div>

  <div class="field">
    <%= form.label :message_id %>
    <%= form.text_field :message_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
