<p id="notice"><%= notice %></p>

<p>
  <strong>Up:</strong>
  <%= @like.up %>
</p>

<p>
  <strong>Down:</strong>
  <%= @like.down %>
</p>

<p>
  <strong>Rct:</strong>
  <%= @like.rct %>
</p>

<p>
  <strong>Message:</strong>
  <%= @like.message_id %>
</p>

<%= link_to 'Edit', edit_message_like_path(@like) %> |
<%= link_to 'Back', message_path %>
