<%
meta title: "COVID-INFORMED - Mission",
     description: "covid-informed",
     keywords: %w(free html5, free template, free bootstrap, html5, css3, mobile first, responsive)
%>
<% content_for :head do %>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-Q8T209GGMN', {'custom_map': {'dimension1': 'rct'}, 'user_id': rct });
    gtag('event','pageview', {'rct': rct});
    gtag('send','event','eventCategory','eventAction');
  </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MB92CN2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<% end %>

<!-- START #fh5co-hero -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <div class="fh5co-spacer fh5co-spacer-md"></div>

        <div class="col-md-6">
          <% case %>
            <% when params[:locale] == "zh_TW" || params[:locale] == "zh_CN" %>
              <img class="fh5co-align-left img-responsive" src="/assets/ZH Final_INFORMED logo V6.png" alt="informed logo" >
            <% when params[:locale] == "vi" %>
              <img class="fh5co-align-left img-responsive" src="/assets/VIET Final_INFORMED logo V5.png" alt="informed logo" >
            <% when params[:locale] == "hmn" %>
              <img class="fh5co-align-left img-responsive" src="/assets/HMG Final_INFORMED logo V5.png" alt="informed logo" >
            <% when params[:locale] == "en" %>
              <img class="fh5co-align-left img-responsive" src="/assets/ENG Final_INFORMED logo V7.png" alt="informed logo" >
            <% end %>
        </div>
        <div class="col-md-6 clearfix fh5co-header">
          <div class="fh5co-spacer fh5co-spacer-lg"></div>
          <h1 class="h1 fh5co-heading fh5co-no-margin-bottom"><%= t('about.title1') %></h1>
          <h1 class="h1 fh5co-heading fh5co-no-margin-bottom"><%= t('about.title2') %></h1>
        </div>

        <div class="fh5co-spacer fh5co-spacer-sm"></div>
        <% if @callouts.any? %>
          <%= render 'callouts', collection: @callouts %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <% end %>
        <div class="clearfix fh5co-header">
          <div class="fh5co-spacer fh5co-spacer-sm"></div>
          <h4 class="h5 fh5co-heading-sub"><%= t('about.mission1') %></h4>
          <div class="fh5co-spacer fh5co-spacer-sm"></div>
          <h4 class="h5 fh5co-heading-sub"><%= t('about.mission2') %></h4>
          <div class="fh5co-spacer fh5co-spacer-sm"></div>
        </div>
      </div>
    </div>
  </div>



<!--
      <section>
        <div class="container">
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4 text-center">
            <div class="fh5co-spacer fh5co-spacer-xxs"></div>
            <a href="#" class="btn btn-primary btn-lg btn-block">Join the Study</a>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
      </div>
      </section> -->

  <div class="container">
    <div class="row">
      <div class="fh5co-spacer fh5co-spacer-md"></div>
      <div class="col-md-12 text-center">
        <img class="img-responsive" src="/assets/INFORMED logos  - new.png" alt="logos">
      </div>
      <div class="fh5co-spacer fh5co-spacer-xxs"></div>
      <div class="col-md-12 text-center">
        <p> <%= t('about.disclaimer') %> </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-md-12 text-center">
      <p> <%= t('disclaimer') %> </p>
    </div>
  </div>
  <div class="fh5co-spacer fh5co-spacer-md"></div>
