
<section id="fh5co-feature">
  <div class="container">
    <div class="fh5co-spacer fh5co-spacer-lg"></div>
    <div class="row">
			<div class="col-md-12">

        <%= form_with(model: callout) do |form| %>
          <% if callout.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(callout.errors.count, "error") %> prohibited this callout from being saved:</h2>

              <ul>
                <% callout.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div id="fh5co-tab-feature" class="fh5co-tab text-center">
            <ul class="resp-tabs-list hor_1">
              <li> English (en)</li>
              <li> Chinese Traditional (zh_tw)</li>
              <li> Chinese Simplified (zh_cn)</li>
              <li> Hmong (hmn)</li>
              <li> Vietnamese (vi)</li>
            </ul>
            <div class="resp-tabs-container hor_1">
              <div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="field form-group">
                      <%= form.label :en_title %> this doesn't show up publicly - use it to keep your records
                      <%= form.text_area :en_title, size:'70x2', class: 'form-control input-lg' %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field form-group">
                      <% if callout.en_image.attached? %>
                        <%= image_tag callout.en_image.variant(resize_to_limit: [100, 100]), class: "img-fluid" %>
                      <% end %>
                      <br>
                      <%= form.label :en_image %>
                      <%= form.file_field :en_image, direct_upload: true, class: "form-control input-lg"  %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field form-group">
                      <%= form.label :en_link_url %>
                      <%= form.text_field :en_link_url, class: 'form-control input-lg' %>
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="field form-group">
                      <%= form.label :zh_tw_title %> this doesn't show up publicly - use it to keep your records
                      <%= form.text_area :zh_tw_title, size:'70x2', class: 'form-control input-lg' %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field form-group">
                      <% if callout.zh_tw_image.attached? %>
                        <%= image_tag callout.zh_tw_image.variant(resize_to_limit: [100, 100]), class: "img-fluid" %>
                      <% end %>
                      <br>
                      <%= form.label :zh_tw_image %>
                      <%= form.file_field :zh_tw_image, direct_upload: true, class: "form-control input-lg"  %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field form-group">
                      <%= form.label :zh_tw_link_url %>
                      <%= form.text_field :zh_tw_link_url, class: 'form-control input-lg' %>
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="field form-group">
                      <%= form.label :zh_cn_title %> this doesn't show up publicly - use it to keep your records
                      <%= form.text_area :zh_cn_title, size:'70x2', class: 'form-control input-lg' %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field form-group">
                      <% if callout.zh_cn_image.attached? %>
                        <%= image_tag callout.zh_cn_image.variant(resize_to_limit: [100, 100]), class: "img-fluid" %>
                      <% end %>
                      <br>
                      <%= form.label :zh_cn_image %>
                      <%= form.file_field :zh_cn_image, direct_upload: true, class: "form-control input-lg"  %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field form-group">
                      <%= form.label :zh_cn_link_url %>
                      <%= form.text_field :zh_cn_link_url, class: 'form-control input-lg' %>
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="field form-group">
                      <%= form.label :hmn_title %> this doesn't show up publicly - use it to keep your records
                      <%= form.text_area :hmn_title, size:'70x2', class: 'form-control input-lg' %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field form-group">
                      <% if callout.hmn_image.attached? %>
                        <%= image_tag callout.hmn_image.variant(resize_to_limit: [100, 100]), class: "img-fluid" %>
                      <% end %>
                      <br>
                      <%= form.label :hmn_image %>
                      <%= form.file_field :hmn_image, direct_upload: true, class: "form-control input-lg"  %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field form-group">
                      <%= form.label :hmn_link_url %>
                      <%= form.text_field :hmn_link_url, class: 'form-control input-lg' %>
                    </div>
                  </div>

                </div>
              </div>

              <div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="field form-group">
                      <%= form.label :vi_title %> this doesn't show up publicly - use it to keep your records
                      <%= form.text_area :vi_title, size:'70x2', class: 'form-control input-lg' %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field form-group">
                      <% if callout.vi_image.attached? %>
                        <%= image_tag callout.vi_image.variant(resize_to_limit: [100, 100]), class: "img-fluid" %>
                      <% end %>
                      <br>
                      <%= form.label :vi_image %>
                      <%= form.file_field :vi_image, direct_upload: true, class: "form-control input-lg"  %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field form-group">
                      <%= form.label :vi_link_url %>
                      <%= form.text_field :vi_link_url, class: 'form-control input-lg' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="field form-group">
                <%= form.label :external_link? %> check this if clicking on the callout takes you away from this website
                <%= form.check_box :external_link %>
              </div>
              <div class="field form-group">
                <%= form.label :archive? %> check this if you don't want to display it anymore but don't want to delete it
                <%= form.check_box :archive %>
              </div>
              <div class="field form-group">
                <%= form.label :priority %> 
                <%= form.text_field :priority %>
              </div>

              <div class="col-md-8 col-md-offset-2">
                <div class="actions">
                  <%= form.submit class: "btn btn-primary btn-lg btn-block"%>
                  <%= link_to 'Back', callouts_path, class: "btn btn-primary btn-lg btn-block" %>
                </div>
              </div>
            </div>

          </div>

        <% end %>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
      </div>
    </div>
  </div>
</section>
