<section id="fh5co-feature">
  <!-- START FEATURE 2 -->
<div class="container">
  <div class="row fh5co-feature-2">
    <div class="col-md-8 col-md-offset-2">
      <div class="actions">
        <%= link_to 'New Callout', new_callout_path, class: "btn btn-primary btn-lg btn-block" %>
      </div>
    </div>

    <% @callouts.in_groups_of(4, false).each do |item1, item2, item3, item4| %>
      <div class="row">
        <a href="<%= callout_path(item1) %>">
        <% if item1.archive == true %>
          <div class="col-md-3 col-sm-6 fh5co-feature-item archive-border">
        <% else %>
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <% end %>
          <span class="fh5co-feature-icon ">
            <% if item1.send("#{I18n.locale}_image".downcase).attached? %>
              <i><%= image_tag item1.send("#{I18n.locale}_image".downcase).variant(resize_to_limit: [350,200]), class: "img-fluid", :style => "max-width: 90%; height: auto"%></i>
            <% else %>
              <i class="ti-layout-placeholder" style="color:red;"></i>
            <% end %>
          </span>
          <h2 class="text-center fh5co-feature-title h4 text-uppercase"><%= item1.send("#{I18n.locale}_title".downcase) %></h2>
          <h2 class="text-center fh5co-feature-title h4 text-uppercase">Archive: <%= item1.archive %></h2>
          <h2 class="text-center fh5co-feature-title h4 text-uppercase">External link?: <%= item1.external_link %></h2>
          <h2 class="text-center fh5co-feature-title h4 text-uppercase">Priority: <%= item1.priority %></h2>
          <p class="text-center"><%= link_to 'Edit this callout', edit_callout_path(item1), class:"btn btn-primary btn-sm" %></p>
          <p class="text-center"><%= link_to 'Delete this callout', item1, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
          <div class="fh5co-spacer fh5co-spacer-md"></div>
        </div>
      </a>

        <!-- item2 -->
      <% if item2 %>
        <a href="<%= callout_path(item2) %>">
        <% if item2.archive == true %>
          <div class="col-md-3 col-sm-6 fh5co-feature-item archive-border">
        <% else %>
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <% end %>
            <span class="fh5co-feature-icon ">
              <% if item2.send("#{I18n.locale}_image".downcase).attached? %>
                <i><%= image_tag item2.send("#{I18n.locale}_image".downcase).variant(resize_to_limit: [350,200]), class: "img-fluid", :style => "max-width: 90%; height: auto"%></i>
              <% else %>
                <i class="ti-layout-placeholder" style="color:red;"></i>
              <% end %>
            </span>
            <h2 class="text-center fh5co-feature-title h4 text-uppercase"><%= item2.send("#{I18n.locale}_title".downcase) %></h2>
            <h2 class="text-center fh5co-feature-title h4 text-uppercase">Archive: <%= item2.archive %></h2>
            <h2 class="text-center fh5co-feature-title h4 text-uppercase">External link?: <%= item2.external_link %></h2>
            <h2 class="text-center fh5co-feature-title h4 text-uppercase">Priority: <%= item2.priority %></h2>
            <p class="text-center"><%= link_to 'Edit this callout', edit_callout_path(item2), class:"btn btn-primary btn-sm" %></p>
            <p class="text-center"><%= link_to 'Delete this callout', item2, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
            <div class="fh5co-spacer fh5co-spacer-md"></div>
            </div>
          </a>
          <% end %>
          <!-- item3 -->
          <% if item3 %>
            <a href="<%= callout_path(item3) %>">
            <% if item3.archive == true %>
              <div class="col-md-3 col-sm-6 fh5co-feature-item archive-border">
            <% else %>
              <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <% end %>
              <span class="fh5co-feature-icon ">
                <% if item3.send("#{I18n.locale}_image".downcase).attached? %>
                  <i><%= image_tag item3.send("#{I18n.locale}_image".downcase).variant(resize_to_limit: [350,200]), class: "img-fluid", :style => "max-width: 90%; height: auto"%></i>
                <% else %>
                  <i class="ti-layout-placeholder" style="color:red;"></i>
                <% end %>
              </span>
              <h2 class="text-center fh5co-feature-title h4 text-uppercase"><%= item3.send("#{I18n.locale}_title".downcase) %></h2>
              <h2 class="text-center fh5co-feature-title h4 text-uppercase">Archive: <%= item3.archive %></h2>
              <h2 class="text-center fh5co-feature-title h4 text-uppercase">External link?: <%= item3.external_link %></h2>
              <h2 class="text-center fh5co-feature-title h4 text-uppercase">Priority: <%= item3.priority %></h2>
              <p class="text-center"><%= link_to 'Edit this callout', edit_callout_path(item3), class:"btn btn-primary btn-sm" %></p>
              <p class="text-center"><%= link_to 'Delete this callout', item3, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
              <div class="fh5co-spacer fh5co-spacer-md"></div>
            </div>
          </a>
        <% end %>

        <!-- item4 -->
        <% if item4 %>
          <a href="<%= callout_path(item4) %>">
          <% if item4.archive == true %>
            <div class="col-md-3 col-sm-6 fh5co-feature-item archive-border">
          <% else %>
            <div class="col-md-3 col-sm-6 fh5co-feature-item">
          <% end %>
              <span class="fh5co-feature-icon ">
                <% if item4.send("#{I18n.locale}_image".downcase).attached? %>
                  <i><%= image_tag item4.send("#{I18n.locale}_image".downcase).variant(resize_to_limit: [350,200]), class: "img-fluid", :style => "max-width: 90%; height: auto"%></i>
                <% else %>
                  <i class="ti-layout-placeholder" style="color:red;"></i>
                <% end %>
              </span>
              <h2 class="text-center fh5co-feature-title h4 text-uppercase"><%= item4.send("#{I18n.locale}_title".downcase) %></h2>
              <h2 class="text-center fh5co-feature-title h4 text-uppercase">Archive: <%= item4.archive %></h2>
              <h2 class="text-center fh5co-feature-title h4 text-uppercase">External link?: <%= item4.external_link %></h2>
              <h2 class="text-center fh5co-feature-title h4 text-uppercase">Priority: <%= item4.priority %></h2>
              <p class="text-center"><%= link_to 'Edit this callout', edit_callout_path(item4), class:"btn btn-primary btn-sm" %></p>
              <p class="text-center"><%= link_to 'Delete this callout', item4, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
              <div class="fh5co-spacer fh5co-spacer-md"></div>
            </div>
          </a>
          <% end %>
        </div> <!-- end row -->
      <% end %>
    </div> <!-- end container -->

</section>
