<p id="notice"><%= notice %></p>

<p>
  <strong>En title:</strong>
  <%= @callout.en_title %>
</p>

<p>
  <strong>Zh tw title:</strong>
  <%= @callout.zh_tw_title %>
</p>

<p>
  <strong>Zh cn title:</strong>
  <%= @callout.zh_cn_title %>
</p>

<p>
  <strong>Vi title:</strong>
  <%= @callout.vi_title %>
</p>

<p>
  <strong>Hmn title:</strong>
  <%= @callout.hmn_title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @callout.link %>
</p>

<p>
  <strong>External link:</strong>
  <%= @callout.external_link %>
</p>

<p>
  <strong>Archive:</strong>
  <%= @callout.archive %>
</p>

<%= link_to 'Edit', edit_callout_path(@callout) %> |
<%= link_to 'Back', callouts_path %>
